{:deps {}

 :aliases
 {:build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.9" :git/sha "e405aac"}
          io.github.slipset/deps-deploy {:git/sha "07022b92d768590ab25b9ceb619ef17d2922da9a"}}
   :ns-default build}

  :test
  {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                lambdaisland/kaocha {:mvn/version "1.71.1119"}
                com.lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}}
   :extra-paths ["test"]
   :main-opts ["-m" "kaocha.runner"]}}}
